.row {
    display: flex;
    margin: 0 ,auto;
}
.col, .col-2, .col-3 {
    padding: 20px;
    margin: 10px;
    background-color: #649EA0;
}   
.col {
    flex: 1;
}
.col-2 {
  flex: 2;
}
.col-3 {
    flex: 3;
}